body {
  margin: 0!important;
}

.app {
  background-size: 80;
  text-align: center;
  background-color: rgb(223, 207, 190);
  /* background-color: rgb(222, 214, 203); */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifs;
}

.app-header {
  text-align: center;
  height: 15vh;
  text-decoration: solid;
  color: black;
  text-decoration-style: solid;
  background-color: rgb(152, 180, 212);
}

.app-header h1 {
  margin-top: 0;
}

.btn-link {
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 4px;
  background-color: rgb(223, 207, 190);
}
.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 20; */
  height: 5vh;
  /* color: aqua; */
  text-size-adjust: 22;
  background-color: rgb(152, 180, 212);
}

.main {
  font-size: large;
  min-height: 80vh;
  width: 100%;
  margin: auto;
}

.redimel-home img {
  max-width: 50%;
  height: auto;
}

.redimel-info {
  text-align: justify;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 60rem;
  border-radius: 6px;
  background-color: rgb(152, 180, 212);
  /* background: linear-gradient(#93c9cb, #6ed4db); */
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.redimel-info h3 {
  text-align: center;
  padding-bottom: 20px;
}

.redimel-info-btn {
  min-width: 600px;
}

.navbar-active {
  color: var(--color-primary-800);
}

.dropdown-menu {
  padding-bottom: 10px;
  padding-top: 10px;
  border-style: solid;
  background-color: rgb(223, 207, 190);
  /* background: rgb(219, 219, 160); */
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
}

.dropdown-menu select {
  font-size: 0.9rem;
  padding: 2px 5px;
  margin-right: 12px;
  margin-left: 2px;
  border-radius: 5px;
}

.dropdown-menu-p {
  font-size: large;
  /* padding-left: 18px;
  padding-right: 18px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: whitesmoke; */
}

.input {
  margin-left: 8px;
}

.button-submit {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 12px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.start-game-container {
  width: 100%;
}

.leftpane {
  width: 20%;
  height: 80vh;
  background-color: rgb(152, 180, 212);
  /* background-color: royalblue; */
}

.leftpane button {
  width: 100%;
}

.middlepane {
  overflow-y:auto;
  width: 60%;
  height: 80vh;
  background-color: rgb(223, 207, 190);
}

.rightpane {
  overflow-y:auto;
  font-size: medium;
  width: 20%;
  height: 80vh;
  background-color: rgb(152, 180, 212);
}

.d-flex {
  display: flex;
}

.show-stats {
  text-align: left;
  padding-left: 2%;
}

li {
  list-style-type: none;
}

.page-text {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  padding-top: 40px;
}

.page-change-notices {
  font-style: italic;
}

.page-choices button{
  font-size: medium;
  width: 60%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 6px;
  background-color: rgb(152, 180, 212);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.remove-battle-group-btn {
  font-size: medium;
  width: 40%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 6px;
  background-color: red;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.remove-battle-group-btn:hover {
  background-color: darkred;
}