.app {
  background-size: 80;
  text-align: center;
  background-color: rgb(222, 214, 203);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifs;
}

.app-header {
  text-decoration: solid;
  color: black;
  text-decoration-style: solid;
  background-color: blueviolet;
}

.site-footer {
  max-width: 20;
  color: aqua;
  text-size-adjust: 22;
  background-color: pink;
}

.main {
  font-size: large;
  width: 80%;
  margin: auto;
}

.redimel-info {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 30rem;
  border-radius: 6px;
  background: linear-gradient(#93c9cb, #6ed4db);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.navbar-active {
  color: var(--color-primary-800);
}