.App {
  background-size: 80;
  text-align: center;
  background-color: tan;
}

.App-header {
  text-decoration: solid;
  color: black;
  text-decoration-style: solid;
  background-color: blueviolet;
}

.Site-footer {
  max-width: 20;
  color: aqua;
  text-size-adjust: 22;
  background-color: pink;
}

.Main {
  font-size: large;
}